.main-view::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 6; /* Выше картинки, но ниже водяного знака */
    background: rgba(0,0,0,0); /* Полностью прозрачный */
}